.person-card {
    width: 300px !important;
    height: 150px;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.3rem;
    opacity: 0.75;
}




.name {

    color: #443e3e !important;
}